version: "3.9"

services:
  postgres:
    image: postgres:18.1
    container_name: pg_lab_postgres
    restart: unless-stopped
    shm_size: "1gb"   #  256m, 512m o 1gb, por defecto 64mb puede ser corto para algunas operaciones

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata

    ports:
      - "5432:5432"

    volumes:
      - pg_data:/var/lib/postgresql/data
      - pg_logs:/var/log/postgresql
      - ./bootstrap:/docker-entrypoint-initdb.d:ro
      - ./postgresql.conf:/etc/postgresql/postgresql.conf:ro

    command:
      - postgres
      - -c
      - config_file=/etc/postgresql/postgresql.conf
      - -c
      - log_directory=/var/log/postgresql
      - -c
      - logging_collector=on

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pg_lab_pgadmin
    restart: unless-stopped

    depends_on:
      postgres:
        condition: service_healthy

    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: "True"

    ports:
      - "5050:80"

    volumes:
      - pgadmin_data:/var/lib/pgadmin

  cloudbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: pg_lab_cloudbeaver
    restart: unless-stopped

    depends_on:
      postgres:
        condition: service_healthy

    ports:
      - "8978:8978"

    volumes:
      - cloudbeaver_data:/opt/cloudbeaver/workspace

volumes:
  pg_data:
  pg_logs:
  pgadmin_data:
  cloudbeaver_data:
  